@use "../core/mixines";

.partner-network {
  text-align: center;

  margin-left: auto;
  margin-right: auto;


  &.dnd-section {
    > .row-fluid {
      max-width: var(--container-size-xl);
      width: var(--container-with-gap-x);
      background: var(--bg-gradient-warm-cool);
      border-radius: 1.25rem;
      padding: 2.5rem 1rem;

      @include mixines.mq-from-md {
        padding: 4.375rem 1rem;
      }
    }
  }

  h2 {
    font-size: var(--fs-title-main);
    margin-bottom: 0.75rem;
  }

  .partner-network-grid {
    @include mixines.flex-columns(2, 3rem);

    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 2rem 0 0 0;

    @include mixines.mq-from-md {
      @include mixines.flex-columns(5, 3rem);
    }

    .image {
      max-width: 9rem;
    }

    .image img {
      max-height: 5rem;
      object-fit: contain;
    }
  }
}