.hsfc-Renderer{
  --hsf-default-background__padding:0;
  --hsf-erroralert__font-size:var(--fs-medium);
  --hsf-field-input__border-radius:var(--field-base-radius);
  --hsf-field-input__font-family:var(--ff-primary);
}
.hsfc-Renderer .hsfc-TextInput{
  min-height:var(--field-base-height);
}
